.about {
  padding: 100px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.about h1 span {
  color: #66fcf1;
}
.aboutTitle2 {
  font-size: 5rem;
  text-align: center;
}
.aboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 60px;
}
.aboutImage {
  flex: 0.7;
}
.aboutContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
}
.aboutContent1 {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  text-align: center;
  padding: 5%;
}
.aboutContent1 .img1,
.aboutContent1 .img2 {
  width: 40px;
  height: 40px;
  align-self: center;
}
.subContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  border: 2px white solid;
  border-radius: 10%;
  padding: 30px;
  flex: 1;
  line-height: 25px;
}
.subContent p {
  font-size: 1.2rem;
}
.aboutContent2 {
  flex: 1.5;
  padding: 2% 5%;
  font-size: 1.2rem;
  line-height: 25px;
}
@media (max-width: 800px) {
  .about {
    font-size: 10px;
  }
  .aboutImage {
    display: none;
  }
  .aboutTitle2 {
    font-size: 50px;
    text-align: center;
  }
}
@media (max-width: 550px) {
  .aboutContent1 {
    display: flex;
    flex-direction: column;
  }
}
