.navbar {
  position: fixed;
  top: 0;
  height: 70px;
  display: flex;
  align-items: center;
  width: 100%;
  align-self: center;
  z-index: 100;
  backdrop-filter: blur(10px);
}
.navbarLogo {
  margin-left: 100px;
  width: 40%;
}
.navbarLogo p {
  width: 50px;
  font-weight: 600;
  font-size: 35px;
  color: #66FCF1;
  font-family: "Raleway", sans-serif;
}
.navbarItemBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
  width: 60%;
}
.navbarIcons {
  display: flex;
  align-items: center;
}
.navbarIcon {
  margin-right: 10px;
  height: 100%;
  width: 40px;
}
.navbarIconGithub {
  margin-right: 10px;
  height: 100%;
  width: 38px;
}
.navbarLink {
  padding: 5px;

  padding: 5px 15px;
}
.navbarLink:hover{
  background: linear-gradient(45deg, #66FCF1, #45A29E);
  border-radius: 20px;
  color: black;
}
.sidebar {
  visibility: hidden;
}
@media (max-width: 800px) {
  .navbarLogo {
    margin-right: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .navbarItemBox {
    display: none;
  }
  .sidebar {
    visibility: visible;
  }
}
